$fonts: (
  Medium: 500,
  Bold: 700,
  ExtraBold: 800,
);

@each $name, $value in $fonts {
  @font-face {
    font-family: "Hanken Grotesk";
    src: url(./fonts/static/HankenGrotesk-#{$name}.ttf);
    font-weight: #{$value};
  }
}

:root {
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  --fs-500: 1rem;
  --fs-600: 1.0625rem;
  --fs-700: 1.25rem;
  --fs-900: 3rem;
}
